.App {
  margin: 0 auto;
  background-color: #282c34;
  text-align: center;
}

.fut-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.top-bar {
  background-color: red;
}
.top-bar h1 {
  float: left;
  display: block;
  color: rgb(255, 153, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

.top-bar input[type=search] {
  float: right;
  width: 20%;
  border: none;
  padding: 16px 16px;
  margin-top: 16px;
  margin-right: 40px;
  font-size: 20px;
}

.movies_list {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
}

.category_title {
  color: #e74c3c;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 1.8rem 0 0.2rem 0;
}

.movie_title {
color: whitesmoke;
}